.cell-container{
   display: grid;
   grid-template-rows: 80px 80px 80px 80px 80px;
   grid-template-columns: 80px 80px 80px 80px 80px;
   grid-template-areas: 
   "cell cell cell cell cell"
   "cell cell cell cell cell"
   "cell cell cell cell cell"
   "cell cell cell cell cell"
   "cell cell cell cell cell"
   ;
   border: 1px solid black;
}