.cellStyle{
    border: 1px solid rgb(254, 254, 254);
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}

.isBomb{
   color: wheat;
   background: red;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.justStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: black;
    color: wheat;
    border-radius: 10px;
}

.isOpened{
    background: rgb(20, 174, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    border-radius: 10px;
}

img{
    max-width: 60px;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}
